body {
  background-color: hotpink ;
  font-family: 'Lobster', cursive;
}

.brand-logo {
  display: inline-block;
  padding-left: 200px;
  font-family: 'Lobster', cursive;
  font-size: 100px;
  text-decoration: none;
  color: white;
}

.nav-wrapper {
  display: block;
  font-family: 'Lobster', cursive;
}

.reel {
  width: 10%;
  margin-left: -10px
}

ul {
  text-decoration: none;
  font-size: 30px;
  color: white;
  
}

li {

  text-decoration: none;
  font-size: 30px;
  color: white;
  
}

a {
  text-decoration: none;
  font-size: 30px;
  color: white;
  
}